<div class="container">
  <div class='col-xs-12 col-md-6 col-md-offset-3'>
  <div class="mailbox">
  <h1>Messages</h1>
  <p>Send message to <%= chat_partner(current_user, @conversation) %></p>

  <div class=”ui segment”>
    <% @messages.each do |message| %>
      <% if message.body %>
        <% message.user %>
      <div class=”item”>
        <div class=”content”>
          <div class=”header”>
            <p><strong><%= message.user.first_name %></strong> <%= message.message_time %><p>
          </div>
          <div class=”list”>
            <div class=”item”>
              <i class=”right triangle icon”></i>
              <p> <%= message.body %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>


  <%= simple_form_for [@conversation, @message] do |f| %>
    <%= f.input :body, autofocus: true, label: "Message", input_html: {rows: 3, :class => 'msg-input'}, label_html: { :class => 'msg-label' } %>
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id, :class => 'msg-input' }, label_html: { :class => 'msg-label' } %>
    <%= f.button :submit, "Send", class: 'btn-msg-send'%>
  <% end %>
    <%= link_to "Back to Mailbox", conversations_path, class: 'btn-msg-back' %>
  </div>
  </div>
</div>
