<div class="container">
  <div class="mailbox">
    <h1>Mailbox <small id="count">(0)</small></h1>
    <p>Manage all your messages</p>
    <table class= "table table-hover">
        <tbody>
          <% @conversations.each do |conversation| %>
            <tr>
              <div class="row message unread">
              <td> <%= cl_image_tag chat_partner_object(current_user, conversation).avatar.url(:standard), class:"avatar-bordered" %></td>
              <td><p><%= chat_partner(current_user, conversation) %></p> </td>
              <td><p><%= truncate(conversation.messages.last.try(:body), :length => 150)%></p></td>
              <td><div class="mailbox-links"><%= link_to 'Show', conversation_messages_path(conversation) %></div></td>
              </div>
            </tr>
             <% end %>
        </tbody>
    </table>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

function refresh() {

  var count = $('.unread').length;
  $('#count').text('(' + count + ')');
}
<% end %>
<% end %>
