<div class="container">
  <div class='col-xs-12 col-md-10 col-md-offset-1'>
  <div class="mailbox">
    <h1>Mailbox <small id="count"></small></h1>
    <p>Manage all your messages</p>
    <table class= "table table-hover">
        <tbody>
          <% @conversations.each do |conversation| %>
            <tr>
              <div class="row message unread">
                <td style="vertical-align:middle">
                 <% if chat_partner_object(current_user, conversation).avatar_url %>
                    <%= cl_image_tag chat_partner_object(current_user, conversation).avatar.url(:standard), class:"avatar-bordered" %>
                  <% elsif !chat_partner_object(current_user, conversation).avatar_url %>
                    <%= image_tag "/assets/avatar_default.jpg",  class:"avatar-bordered" %>
                  <% end %>
                  <% if conversation.messages.last %>
                    <td style="vertical-align:middle"><p><%= conversation.messages.last.created_at.strftime("%d %b %H:%M") %></p></td>
                  <% end %>
                </td>
                <td style="vertical-align:middle"><p><%= chat_partner(current_user, conversation) %></p> </td>
                <td style="vertical-align:middle"><p><%= truncate(conversation.messages.last.try(:body), :length => 75)%></p></td>
                <td><div class="mailbox-links"><%= link_to 'Show', conversation_messages_path(conversation) %></div></td>
              </div>
            </tr>
             <% end %>
        </tbody>
    </table>
  </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

function refresh() {

  var count = $('.message').size;
  $('#count').text('(' + count + ')');
}
<% end %>
<% end %>
