<!-- List of all Requests the current user made -->

<div class="container">
  <div class="requests footer-container">
    <%if !current_user.pilot %>
      <h1>These are your requests</h1>
      <p>Manage your requests here</p>
    <% else %>
      <h1>These are all requests</h1>
      <p>Make a proposal here</p>
    <% end %>

    <table class= "table table-hover">
      <thead>
        <tr>
          <th><p><b>Request ID</b></p></th>
          <th><p><b>Location</b></p></th>
          <th><p><b>Category</b></p></th>
          <th><p><b>Due Date<b></p></th>
        <%if current_user.pilot %>
          <th><p><b>Proposal sent</b></p></th>
        <% end %>
          <th colspan="6"></th>
        </tr>
      </thead>

      <tbody>
        <% @requests.each do |request| %>
          <tr>
            <td><p><%= request.id %></p></td>
            <td><p><%= request.location %></p></td>
            <td><p><%= request.category %></p></td>
            <td><p><%= request.due_date %></p></td>

            <% if !current_user.not_applied?(request) %>
              <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
              <% else %>
              <td></td>
            <% end %>
            <td><div class="request-links"><%= link_to 'Show', request_path(request) %></div> </td>
            <% unless current_user.pilot %>
              <% if policy(request).update? %>
                <td><div class="request-links"><%= link_to 'Edit', edit_request_path(request) %></div> </td>
              <% end %>
              <% if policy(request).destroy? %>
                <td><div class="request-links"><%= link_to 'Cancel', request_path(request), method: :delete, data: { confirm: 'Are you sure?' } %></div> </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% unless current_user.pilot %>
    <div class="request-links-index green"><%= link_to 'Add Request', new_request_path %></div>
  <% end %>
   </div>
</div>




