<!-- List of all Requests the current user made -->

<div class="container">

  <h1>These are all requests</h1>
  <p>Manage your requests here</p>

  <table class= "table table-hover">
    <thead>
      <tr>
        <th>Request ID</th>
        <th>Location</th>
        <th>Category</th>
        <th>Due Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= request.id %></td>
          <td><%= request.location %></td>
          <td><%= request.category %></td>
          <td><%= request.due_date %></td>
            <td><%= link_to 'Show', request_path(request) %> </td>
          <% unless current_user.pilot %>
            <td><%= link_to 'Edit', edit_request_path(request) %> </td>
            <td><%= link_to 'Cancel', request_path(request), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>



