<!-- List of all Requests the current user made -->

<div class="container">

<%if !current_user.pilot %>
  <h1>These are your requests</h1>
  <p>Manage your requests here</p>
<% else %>
  <h1>These are all requests</h1>
  <p>Make a proposal here</p>
<% end %>

  <table class= "table table-hover">
    <thead>
      <tr>
        <th>Request ID</th>
        <th>Location</th>
        <th>Category</th>
        <th>Due Date</th>
        <th>Proposal sent</th>
        <th colspan="6"></th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= request.id %></td>
          <td><%= request.location %></td>
          <td><%= request.category %></td>
          <td><%= request.due_date %></td>

          <% if !current_user.not_applied?(request) %>
            <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
            <% else %>
            <td></td>
          <% end %>
          <td><%= link_to 'Show', request_path(request) %> </td>
          <% unless current_user.pilot %>
            <% if policy(request).update? %>
              <td><%= link_to 'Edit', edit_request_path(request) %> </td>
            <% end %>
            <% if policy(request).destroy? %>
              <td><%= link_to 'Cancel', request_path(request), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add Request', new_request_path %>

</div>



