<div class="container">
  <h1>Request Summary</h1>
  <p>Find the Request Details here:</p>


  <p>Due Date: <b><%= @request.due_date %></b></p>
  <p>Location: <%= @request.location %></p>
  <p>Details: <%= @request.details %></p>
  <p>Category: <%= @request.category %></p>

  <% if current_user.pilot %>
      <p><%= link_to 'Make a proposal', new_request_proposal_path(@request) %></p>
  <% end %>

    <% unless current_user.pilot %>
      <p><%= link_to 'Edit', edit_request_path %></p>
      <td><%= link_to 'Cancel', request_path(request), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
    <% end %>
  <p><%= link_to 'Back to all Requests', requests_path %></p>

</div>



