<div class="container">
  <h1>Request Summary</h1>
  <p>Find the Request Details here:</p>

  <p>Due Date: <b><%= @request.due_date %></b></p>
  <p>Location: <%= @request.location %></p>
  <p>Details: <%= @request.details %></p>
  <p>Category: <%= @request.category %></p>

  <% if current_user.pilot && current_user.not_applied?(@request) %>
    <p><%= link_to 'Make a proposal', new_request_proposal_path(@request) %></p>
  <% end %>

  <% if current_user.pilot && !current_user.not_applied?(@request) %>
    <p><%= link_to 'Show my proposals', proposals_path %></p>
  <% end %>

  <% if !current_user.pilot %>
    <%= render "proposals/proposal" %>
  <% end %>

  <% if policy(@request).update? %>
    <p><%= link_to 'Edit', edit_request_path %></p>
  <% end %>
  <% if policy(@request).destroy? %>
    <p><%= link_to 'Cancel', request_path(@request), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
    <p><%= link_to 'Back to all Requests', requests_path %></p>

</div>



