<div class="container grayy">
  <div class="footer-container">
    <div class="page-section intro">
      <div class="rowstuff">
        <h1 class="text-center orbitron">About Droneit</h1>
        <h2 class="text-center">We connect you to the drone pilots you need</h2>
      </div>
      <br>
      <div class="text-center">
        <a data-scroll href="#cat" data-options='{ "easing": "easeInOutQuad" }' class="inline grayy navigationbtn">Categories</a>
        <a data-scroll href="#ourteam" data-options='{ "easing": "easeInOutQuad" }' class="inline grayy navigationbtn">Our team</a>
      </div>
    </div>

        <div class="">
          <div class="row">
            <h2 class="h50 text-center blue orbitron"><strong>Information</strong></h2>
          </div>
        </div>

        <div class="page-section">
          <div class="row">
            <h2>What We Can Do</h2>
            <p> We connect customers who need aerial images or video feed for a given event, or needs regarding real estate or marketing, to drone pilots who can meet their needs. Everything else is arranged between those users. </p>
            <h2>Why Drones?</h2>
            <p>Drones map a given view in stunning detail, they help film situations such as sports events where the camera man would have a hard time getting close to the action, and could even help capture development and real estate projects.
            Discover the world from whole new heights!<p>
            <h2>NB:</h2> <p> Before you fly your drone in Lebanon, you need to give notice to the army regarding the location of your job, and your flying time</p>
          </div>
        </div>



    <span id="cat"></span>

    <div class="page-section">
      <div class="row">
        <div class="columns large-6">
          <div class="readable-content image-on-right">
            <h3 class="h50 orbitron">Real estate</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
          </div>
        </div>
        <div class="columns large-6">
          <div class="readable-content">
            <%= image_tag 'house.jpg' %>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="columns large-6">
          <div class="readable-content image-on-right">
            <h3>Sports events</h3>
            <p>ILorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
          </div>
        </div>
        <div class="columns large-6">
          <div class="readable-content">
            <%= image_tag 'surf.jpg', class:'pic' %>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="columns large-6">
          <div class="readable-content image-on-right">
            <h3>Weddings</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
          </div>
        </div>
        <div class="columns large-6">
          <div class="readable-content">
            <%= image_tag 'wed.jpg', class:'wedpic pic' %>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="columns large-6">
          <div class="readable-content image-on-right">
            <h3>Commercial Events</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
          </div>
        </div>
        <div class="columns large-6">
          <div class="readable-content">
            <%= image_tag 'placeholder.jpg', class:'pic' %>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="columns large-6">
          <div class="readable-content image-on-right">
            <h3>Commercial Events</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
          </div>
        </div>
        <div class="columns large-6">
          <div class="readable-content">
            <%= image_tag 'indoorpic.jpg', class:'pic wedpic' %>
          </div>
        </div>
      </div>
    </div>


    <span id="ourteam"></span>


    <div class="page-section">
      <div class="row">
        <h2><strong>Our Team</strong></h2>
      </div>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <%= image_tag 'n.png', class:'teampic'%>
        </div>
        <div class="col-xs-12 col-md-8">
          <h3 class="names"> Nour Assi</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
        </div>
      </div>
    </div>


    <div class="page-section">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <%= image_tag 'l.png', class:'teampic'%>
        </div>
        <div class="col-xs-12 col-md-8">
          <h3 class="names"> Lama Masri</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <%= image_tag 's.png', class:'teampic'%>
        </div>
        <div class="col-xs-12 col-md-8">
          <h3 class="names">Stefan Lieberherr</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
        </div>
      </div>
    </div>

    <div class="page-section">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <%= image_tag 'v.png', class:'teampic'%>
        </div>
        <div class="col-xs-12 col-md-8">
          <h3 class="names"> Vanessa Oppowa</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
        </div>
      </div>
    </div>

  </div>

</div>

