<!-- Homepage Banner Video -->

<div class="banner" style="height: 740px">

<%= video_tag "hp_video_for_web.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, poster: "poster.jpg", class: "video" %>

  <div class="banner-content ">
    <h1>Welcome to Droneit!</h1>
    <p>Hire a drone pilot!</p>
      <a data-scroll href="#customer" data-options='{ "easing": "easeInOutQuad" }' class="white inline hi">I'm a Customer</a>
      <a data-scroll href="#pilot" data-options='{ "easing": "easeInOutQuad" }' class="white inline hi">I'm a Pilot</a>
  </div>
</div>

<div class="fixed">
  <a data-scroll href="#top" data-options='{ "easing": "easeInOutQuad" }' class="fixed"><%= image_tag 'up.png' %></a>
</div>



<!-- How does it work? Customer -->

<span id="customer"></span>
<div class="banner2 container-fluid" id='as-a-customer'>
  <div class="text-center padded features">
    <div class="row">
      <div class='col-xs-12'>
        <h2 class="banner2title orbitron black">How it works</h2>
        <h3 class="banner2title orbitron black"> As a drone pilot </h3>
        <div class="container inline1" style="position: relative; top: -30px;">
          <div class="col-xs-12 col-md-4 divisions">
            <%= image_tag 'sign.png', class:'howtoimg' %>
            <h4 class="black"><strong>Sign in</strong></h4>
            <p class="black"> Use your own account, make your drone experience better.</p>
          </div>
          <div class="col-xs-12 col-md-4 divisions">
            <%= image_tag 'drone.png', class:'howtoimg' %>
            <h4 class="black"><strong>Make a request</strong></h4>
            <p class="black">State the date and location of the job</p>
          </div>
          <div class="col-xs-12 col-md-4 divisions">
            <%= image_tag 'check.png', class:'howtoimg' %>
            <h4 class="black"><strong>Choose best offer</strong></h4>
            <p class="black"> Choose a pilot's offer, and book!</p>
          </div>
        </div>
         <div class="col-xs-12 white userlink">
            <%= link_to new_user_registration_path(as:"client"), class:"black" do %>
            <h4><strong> Not a user?</strong> Sign up! </h4>
          <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- How does it work? Drone Pilot -->

<span id="pilot"></span>
<div class="banner3 container-fluid" id='as-a-pilot'>
  <div class="text-center padded features">
    <div class="row">
      <div class='col-xs-12'>
        <h2 class="banner3title orbitron yellow">How it works</h2>
        <h3 class="banner3title orbitron yellow"> As a drone pilot </h3>
        <div class="container inline1" style="position: relative; top: -30px;">
          <div class="col-xs-12 col-md-4 divisions">
            <%= image_tag 'sign.png', class:'howtoimg' %>
            <h4 class="white">Sign in</h4>
            <p class="white"> Update your profile, make your drone experience better.</p>
          </div>
          <div class="col-xs-12 col-md-4 divisions">
            <%= image_tag 'drone.png', class:'howtoimg' %>
            <h4 class="white">Get a request</h4>
            <p class="white"> Get a date and a location, accept or deny the job.</p>
          </div>
          <div class="col-xs-12 col-md-4 divisions">
            <%= image_tag 'mon.png', class:'howtoimg' %>
            <h4 class="white">Make an offer</h4>
            <p class="white"> Answer a request, offer your price.</p>
          </div>
        </div>
        <div class="col-xs-12 white userlink">
            <%= link_to new_user_registration_path(as:"pilot"), class:"white" do %>
            <h4> Not a user? Sign up! </h4>
          <% end %>
      </div>
      </div>
    </div>
  </div>
</div>


<!-- top pilots html -->


<div class="container-fluid thelisting">
  <div class="text-center">
    <h2 class="orbitron">Top Rated Pilots</h2>
  </div>
  <div class="row">
  <% @top_pilots.each do |pilot| %>
    <%= link_to operator_profile_path(pilot.operator_profile) do %>
      <div class="col-xs-12 col-sm-4">
        <% background_url = !pilot.operator_profile.images.first.nil? ? pilot.operator_profile.images.first.image : 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg'  %>
        <div class="jumbotron" style="background-image: url('<%= background_url %>'); background-size: cover;" >
        <%= image_tag pilot.avatar, class: 'img-circle' %>
        <div class="jumbotron-description white desc">
          <p class="name"><strong><%= pilot.first_name%></strong></p>

          <% if pilot.operator_profile.skills.count != 0  %>
            <em><p> I'm good at
            <% pilot.operator_profile.skills.each_with_index do |skill, i| %>
              <% if pilot.operator_profile.skills.count == 1 %>
                <%=skill.name%>
              <% else %>
                <%=skill.name%>
                <% if i < pilot.operator_profile.skills.count - 2 %>
                  ,
                <% elsif i == pilot.operator_profile.skills.count - 2 %>
                  and
                <% end %>
            <% end %>
            <% end %>
            !</p></em>
          <% end %>

        </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

<div class="footer-container">

<div class="container aboutcontainer">
  <div class="text-center">
    <h2 class="orbitron">About Droneit</h2>
  </div>
  <div class="row bg-offwhite About">
      <p class="text-center"> Looking for a quick job as a drone pilot? Looking for a aerial pictures and video feed?</p>
      <p class="text-center"> Our platform connects you to the people you needswipebox
      ! </p>
      <div class="col-xs-6">
      <h2 class="text-center"> How can I find what and who i need? </h2>
      <p> Everyone has different needs and reasons for wanting aerial pictures (real estate, event, etc..). With that in mind, a cutomer's request includes a category, and a pilot's profile includes his skills and a few pictures or videos of previous jobs he or she has done. </p>
      <p class="text-center"> The choice is yours! </p>
      </div>
      <div class="col-xs-6">

        <a rel="gallery-1" href="<%= asset_path('largere.jpg') %>" class="swipebox" title="Real Estate">
          <%= image_tag 'smallre.jpeg', class:'gallerypictures' %>
        </a>

        <a rel="gallery-1" href="<%= asset_path('largesport.jpg') %>" class="swipebox" title="Sports Event">
        <%= image_tag 'smallsport.jpeg', class:'gallerypictures' %>
        </a>

        <a rel="gallery-1" href="<%= asset_path('largewed.jpg') %>" class="swipebox" title="Wedding">
        <%= image_tag 'smallwed.jpeg', class:'gallerypictures' %>
        </a>

         <a rel="gallery-1" href="<%= asset_path('largeevent.jpg') %>" class="swipebox" title="My Caption">
        <%= image_tag 'smallevent.jpeg', class:'gallerypictures' %>
        </a>


      </div>
  </div>
</div>
</div>

<script src="src/js/jquery.swipebox.js"></script>

<!-- javascript -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>

(function( $ ) {

  $( '.swipebox' ).swipebox();

} )( jQuery );

  <% end %>
<% end %>
