<div class='container'>

  <h1 class="inline">Profile</h1>
  <%= link_to "Edit profile", edit_user_registration_path, class: "inline btn btn-sm btn-warning" %>
  <hr>
  <table class='table table-hover'>
      <tr>
        <td>
          <strong>First Name</strong>
        </td>
        <td>
          <%= @user.first_name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Last Name</strong>
        </td>
        <td>
          <%= @user.last_name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Email address</strong>
        </td>
        <td>
          <%= @user.email %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Address</strong>
        </td>
        <td>
          <%= @user.address %>
        </td>
      </tr>
  </table>
</div>



