<div class='container'>

  <h1>Profile</h1>
  <hr>
  <table class='table table-hover'>
      <tr>
        <td>
          <strong>First Name</strong>
        </td>
        <td>
          <%= @user.first_name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Last Name</strong>
        </td>
        <td>
          <%= @user.last_name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Email address</strong>
        </td>
        <td>
          <%= @user.email %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Address</strong>
        </td>
        <td>
          <%= @user.address %>
        </td>
      </tr>
  </table>

  <p class="black" style="text-decoration:none"><%= link_to 'Edit Profile', edit_user_registration_path %></p>
  </div>



