<div class='container'>
  <div class="signup">
    <h1 class="inline">Profile </h1>
    <%= link_to "Edit", edit_user_registration_path, class: 'btn-su-edit-small' %>
    <table class='table table-hover'>
        <tr>
          <td>
            <p><strong>First Name</strong></p>
          </td>
          <td>
            <p><%= @user.first_name %></p>
          </td>
        </tr>
        <tr>
          <td>
           <p> <strong>Last Name</strong></p>
          </td>
          <td>
            <p><%= @user.last_name %></p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Email address</strong></p>
          </td>
          <td>
           <p> <%= @user.email %></p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Address</strong></p>
          </td>
          <td>
            <p><%= @user.address %></p>
          </td>
        </tr>
    </table>
  </div>
</div>



