<div class='container'>

  <h1 class="inline">Profile</h1>
  <%= link_to "Edit profile", edit_user_registration_path, class: "inline btn btn-sm btn-warning" %>
  <hr>
  <table class='table table-hover'>
      <tr>
        <td>
          <strong>First Name</strong>
        </td>
        <td>
          <%= @user.first_name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Last Name</strong>
        </td>
        <td>
          <%= @user.last_name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Email address</strong>
        </td>
        <td>
          <%= @user.email %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Address</strong>
        </td>
        <td>
          <%= @user.address %>
        </td>
      </tr>
  </table>
  <% if current_user.pilot %>
    <h1 class="inline">Pilot details</h1>
    <%= link_to 'Edit pilot details', edit_operator_profile_path(current_user.operator_profile), class: "inline btn btn-sm btn-warning" %>
    <hr>
    <h2 class="inline">Images</h2>
    <%= link_to new_operator_profile_image_path(@user.operator_profile), class: "inline" do %>
      <i class="fa fa-plus-square-o black"></i>
    <% end %>
    <hr>
     <% @user.operator_profile.images.each do |image| %>
      <%= cl_image_tag image.image %>
      <%= link_to "Delete", image_path(image), method: :delete, class: "btn btn-sm btn-danger" %>
    <% end %>
    <h2 class="inline">Videos</h2>
    <%= link_to "Add YouTube URL", "#", class: "inline btn btn-md btn-success" %>
    <hr>
  <% end %>
</div>



