<%= simple_form_for @profile do |f| %>
<%= f.input :company_name %>
<%= f.input :description, as: :text, input_html: {rows: 4} %>
<label>Skills</label>
<br>
<%= f.association :skills, as: :check_boxes, collection: Skill.all %>
<%= f.file_field :images, multiple: :true %>
<%= f.button :submit, "Create your profile" %>
<% end %>
