<%= simple_form_for @profile, html: {multipart: true} do |f| %>
<%= f.input :company_name %>
<%= f.input :description, as: :text, input_html: {rows: 4} %>
<br>
<%= f.association :skills, as: :check_boxes, collection: Skill.all %>
<%= f.simple_fields_for :images do |p| %>
  <div class="field">
    <%= p.label :image %><br>
    <%= p.file_field :image, :multiple => true, name: "images[image][]" %>
  </div>
<% end %>
<%#= f.association :videos %>
<%= f.simple_fields_for :videos do |p| %>
  <%= p.input :url, label: :URL %>
<% end %>
<%= f.button :submit, "Create your profile" %>
<% end %>

