
<%= simple_form_for @profile, html: {multipart: true} do |f| %>
  <div class="form-inputs">

    <%= f.input :company_name, input_html: { :class => 'op-input' }, label_html: { :class => 'op-label' }%>
    <%= f.input :description, as: :text, input_html: { :class => 'op-input', rows: 4}, label_html: { :class => 'op-label' } %>
    <%= f.association :skills, as: :check_boxes, collection: Skill.all, input_html: { :class => 'op-input' }, label_html: { :class => 'op-label' } %>


    <div id="images">
      <%= f.simple_fields_for :images do |image| %>
        <%= render 'image_fields', f: image %>
      <% end %>
      <div class="links op-links">
        <%= link_to_add_association 'add image', f, :images %>
      </div>
    </div>

    <div class="o-label"><h3>Videos</h3></div>
    <div id="videos">
      <%= f.simple_fields_for :videos do |url| %>
        <%= render 'video_fields', f: url %>
      <% end %>
      <div class="links op-links">
        <%= link_to_add_association 'add url', f, :videos %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

