<div class="container">
<div class="row">
    <div class='col-xs-12 col-md-4'>
      <figure class="oprofile-box">
        <% if !@profile.images.first.nil? %>
          <%= cl_image_tag @profile.images.first.image %>
        <% else %>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
        <% end %>
        <figcaption>
        <% if !@profile.user.avatar.url.nil? %>
          <%= cl_image_tag @profile.user.avatar.url(:standard), class:"profile" %>
        <% end %>
          <h2><span><%= @profile.company_name %></span></h2>
          <h3>Skills</h3>
          <% @profile.skills.each do |s| %>
          <ul>
            <li><p><%= s.name %></p></li>
          </ul>
          <% end %>
        <% if policy(@profile).update? %>
          <%= link_to 'Edit Profile', edit_operator_profile_path %></p>
        <% end %>
          <p><a href="javascript:history.back()">Go Back</a></p>
        </figcaption>
      </figure>
    </div>

    <div class='col-xs-12 col-md-8 footer-container'>
      <% if @profile.videos.first %>
        <div class="embed-container">
          <p><%= embed(@profile.videos.first.url) %></p>
        </div>
      <% end %>

      <div class="description-box">
        <h3>About us</h3>
        <p><%= @profile.description %></p>
      </div>

      <div class="image-container footer-container">
        <% @profile.images.each do |p| %>
          <% if @profile.images %>
            <div class="col-xs-12 col-md-4">
              <%= link_to asset_path(p.image.url(:standard)), :class => "swipebox" do %>
                <%= cl_image_tag p.image.url(:standard), class: "gallerypictures" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
</div>


      <!-- <%# @profile.images.each do |p| %>
      <div class="image-container">
        <%# if @profile.images %>
        <div class="row">
          <div class="col-xs-12 col-md-4 gallerycont">
            <a rel="gallery-1" href="<%= asset_path('largere.jpg') %>" class="swipebox" title="Real Estate">
            <%= image_tag 'smallre.jpeg', class:'gallerypictures' %>
            </a>
          </div>
          <div class="col-xs-12 col-md-4 gallerycont">
            <a rel="gallery-1" href="<%= asset_path('largesport.jpg') %>" class="swipebox" title="Sports Event">
            <%= image_tag 'smallsport.jpeg', class:'gallerypictures' %>
            </a>
          </div>
          <div class="col-xs-12 col-md-4 gallerycont">
            <a rel="gallery-1" href="<%= asset_path('largewed.jpg') %>" class="swipebox" title="Wedding">
            <%= image_tag 'smallwed.jpeg', class:'gallerypictures' %>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 gallerycont">
            <a rel="gallery-1" href="<%= asset_path('largere.jpg') %>" class="swipebox" title="Real Estate">
            <%= image_tag 'smallre.jpeg', class:'gallerypictures' %>
            </a>
          </div>
          <div class="col-xs-12 col-md-4 gallerycont">
            <a rel="gallery-1" href="<%= asset_path('largesport.jpg') %>" class="swipebox" title="Sports Event">
            <%= image_tag 'smallsport.jpeg', class:'gallerypictures' %>
            </a>
          </div>
          <div class="col-xs-12 col-md-4 gallerycont">
            <a rel="gallery-1" href="<%= asset_path('largewed.jpg') %>" class="swipebox" title="Wedding">
            <%= image_tag 'smallwed.jpeg', class:'gallerypictures' %>
            </a>
          </div>
        </div>
    </div> -->
<%# end %>

<%# end %>

<!--  <div class="description-box">
<p><%= @profile.description %></p>
</div>

<%# @profile.images.each do |p| %>
<div class="image-container">
<%# if @profile.images %>
<%#= cl_image_tag p.image.url(:standard) %>
<%# end %>
</div>
<% #end %>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->


<!-- javascript -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>

$(document).scroll(function() {
    checkOffset();
});
function checkOffset() {
    if($('.oprofile-box').offset().top + $('.oprofile-box').height()
                                           >= $('#footer').offset().top -10)
        $('.oprofile-box').css('position', 'absolute');
    if($(document).scrollTop() + window.innerHeight < $('#footer').offset().top)
        $('.oprofile-box').css('position', 'fixed'); // restore when you scroll up
}

(function( $ ) {

  $( '.swipebox' ).swipebox();

} )( jQuery );


  <% end %>
<% end %>


