<div class="container">
<div class="footer-container">
  <div class="row">
    <div class='col-xs-12 col-md-4'>
      <figure class="oprofile-box">
        <% if !@profile.images.first.nil? %>
          <%= cl_image_tag @profile.images.first.image %>
        <% else %>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
        <% end %>
       <figcaption>
          <% if !@profile.user.avatar.url.nil? %>
            <%= cl_image_tag @profile.user.avatar.url(:standard), class:"profile" %>
          <% end %>
          <h2><span><%= @profile.company_name %></span></h2>
          <h3>Skills</h3>
          <% @profile.skills.each do |s| %>
            <ul>
              <li><p><%= s.name %></p></li>
            </ul>
          <% end %>
          <% if policy(@profile).update? %>
            <%= link_to 'Edit Profile', edit_operator_profile_path %></p>
          <% end %>
            <p><a href="javascript:history.back()">Go Back</a></p>
        </figcaption>

      </figure>
    </div>

    <div class='col-xs-12 col-md-8'>
    <% if @profile.videos.first %>
      <div class="embed-container">
       <p><%= embed(@profile.videos.first.url) %></p>
      </div>

    <% end %>
    <div class="description-box">
      <p><%= @profile.description %></p>
    </div>
    <% @profile.images.each do |p| %>
    <div class="image-container">
    <% if @profile.images %>
      <%= cl_image_tag p.image.url(:standard) %>
    <% end %>
    </div>
    <% end %>
    </div>
  </div>
</div>
</div>

      <%# if @profile.images %>
        <%#= cl_image_tag p.image.url(:standard) %>

      <%# end %>

<!--
      <a rel="gallery-1" href="http://lorempixel.com/600/400/abstract/1" class="swipebox" title="My Caption">
      <img src="http://lorempixel.com/300/200/abstract/1" alt="image">
      </a> -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/js/jquery.swipebox.js"></script>
<script src="app.js"></script>


<!-- javascript -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>

$(document).scroll(function() {
    checkOffset();
});
function checkOffset() {
    if($('.oprofile-box').offset().top + $('.oprofile-box').height()
                                           >= $('#footer').offset().top -10)
        $('.oprofile-box').css('position', 'absolute');
    if($(document).scrollTop() + window.innerHeight < $('#footer').offset().top)
        $('.oprofile-box').css('position', 'fixed'); // restore when you scroll up
}

(function( $ ) {

  $( '.swipebox' ).swipebox();

} )( jQuery );


  <% end %>
<% end %>


