<div class="container">
  <div class="row">
      <div class='col-xs-12 col-md-4'>
      <figure class="oprofile-box">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
      <figcaption>
          <%= cl_image_tag @profile.user.avatar, class:"profile" %>

          <h2><%= @profile.user.first_name %><span><%= @profile.company_name %></span></h2>
          <p><%= @profile.description %></p>
          <h3>My Skills</h3>
        <% @profile.skills.each do |s| %>
          <ul>
            <li><p><%= s.name %></p></li>
          </ul>
        <% end %>
        <% if current_user.pilot? %>
          <%= link_to 'Edit Profile', edit_operator_profile_path %></p>
        <% else %>
          <a href="#" class="message">Message</a>
        <% end %>
      </figcaption>
      </figure>
    </div>

    <div class='col-xs-12 col-md-8 '>
      <% if @profile.videos.first %>
      <div class="embed-container">
        <p><%= embed(@profile.videos.first.url) %></p>
      </div>
      <% end %>
      <% @profile.images.each do |p| %>
        <%= cl_image_tag p.image %>
      <% end %>
      <div class="description-box">
       <p><%= @profile.description %></p>
      </div>
    </div>

  </div>
</div>



