<div class="container">
  <h1><%= @profile.company_name %>'s Profile</h1>
  <p>Check out our Profile. We're ready to amaze you!</p>

  <% if @profile.videos.first %>
    <p><%= embed(@profile.videos.first.url) %></p>
  <% end %>

  <p><%= @profile.description %></p>


<p class="black" style="text-decoration:none"><%= link_to 'Edit Profile', edit_operator_profile_path %></p>

  <% @profile.skills.each do |s| %>
    <%= s.name %>
  <% end %>
</div>
