<div class="container form">
  <h1>Purchase of Drone Proposal by <%= @proposal.user.operator_profile.company_name %></h1>
  <div class="row">
    <%= form_tag proposal_payments_path(@proposal) do %>
      <article>
        <label class="amount">
          <span>Amount: <%= humanized_money_with_symbol(@proposal.price) %></span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-email="<%= current_user.email %>"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="Drone Job"
        data-description="Proposal by  <%= @proposal.user.operator_profile.company_name %>"
        data-amount="<%= @proposal.price_cents %>"
        data-currency="usd">
      </script>

    <% end %>
  </div>
</div>
