<%= simple_form_for @proposal do |f| %>
  <div class="form-inputs">
    <%= f.input :date, required: true, autofocus: true %>
    <%= f.input :price, required: true %>
    <%= f.input :content %>
    <%= f.input :operator_profile_id, as: :hidden, input_html: {value: params[:operator_profile_id]} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit Porposal" %>
  </div>
<% end %>
