<!-- List of all Proposals-->

  <div class="proposals">
  <h2 class="proposal-list text-center">List of all Proposals</h2>
  <% if @request.proposals.empty? %>
  <p> You have no proposals yet </p>
  <% else %>

  <% @request.proposals.each do |proposal| %>

    <div class="col-md-3 col-xs-6">
      <figure class="proposal-box">
        <%= link_to proposal_path(proposal.id) do %>
        <% if !proposal.user.operator_profile.images.first.nil? %>
          <%= cl_image_tag proposal.user.operator_profile.images.first.image %>
        <% else %>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
        <% end %>
      <figcaption>
      <% if !proposal.user.avatar.url.nil? %>
        <%= cl_image_tag proposal.user.avatar.url(:standard), class:"profile" %>
      <% end %>
        <h2><%= proposal.user.operator_profile.company_name %></h2>
        <p><%= humanized_money_with_symbol(proposal.price) %></p>
        <div class="proposal-box-status">
          <% if proposal.accepted? %>
            <p><i class="fa fa-check" aria-hidden="true"></i> Accepted!</p>
          <% elsif proposal.pending? %>
            <p><i class="fa fa-question" aria-hidden="true"></i> Pending</p>
          <% elsif proposal.rejected? %>
           <p><i class="fa fa-times" aria-hidden="true"></i> Declined!</p>
          <% elsif proposal.paid? %>
           <p><i class="fa fa-check" aria-hidden="true"></i> Paid!</p>
          <% end %>
        </div>
      </figcaption>
      <% end %>
      </figure>
    </div>

    <% end %>
  <% end %>
 </div>


