<div class="container">
  <div class='col-xs-12 col-md-6'>
    <h1>Proposal summary</h1>

    <p><b>Pilot is <%= @proposal.user.first_name %> <%= @proposal.user.last_name %></b></p>
    <%= cl_image_tag @proposal.user.avatar, class:"avatar avatar-large" %>
    <p><b>Total Price: </b><%= @proposal.price %> USD</p>
    <p><b>Additional Info: </b><%= @proposal.content %></p>

    <% if current_user.pilot? && @proposal.pending? %>
      <p><%= link_to 'Cancel proposal', proposal_path(@proposal), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <p><td><%= link_to 'Edit proposal', edit_proposal_path(@proposal) %></td></p>
    <% end %>

    <% if !current_user.pilot? && @proposal.pending? %>
      <%= link_to 'Accept!', accept_proposal_path(@proposal), class: 'btn btn-success', method: :post, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Decline!', decline_proposal_path(@proposal), class: 'btn btn-danger', method: :post, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <% if @proposal.accepted? %>
      <p class="green"><b>This proposal has been accepted!</b></p>
    <% elsif @proposal.rejected? %>
      <p class="red"><b>This proposal has been declined!</b></p>
    <% end %>

    <% if !current_user.pilot? && @proposal.accepted? %>
      <p><%= link_to 'Add review', new_proposal_review_path(@proposal) %></p>
    <% elsif !current_user.pilot? %>
      <p><%= link_to 'Back to request', requests_path %></p>
    <% elsif current_user.pilot? %>
      <p><%= link_to 'Back to all proposals', proposals_path %></p>
    <% end %>

  </div>

    <div id="reviews">
  <% if @proposal.review.blank? %>
    Be the first to leave a review for <%= @proposal.user.first_name %>
  <% else %>
      <%= render 'reviews/show', review: @proposal.review %>
  <% end %>
</div>


  <div class='col-xs-12 col-md-6'>
    <div class="request-summary">

      <h2>Request summary</h2>

      <p>Due date: <b><%= @proposal.request.due_date %></b></p>
      <p>Location: <%= @proposal.request.location %></p>
      <p>Details: <%= @proposal.request.details %></p>
      <p>Category: <%= @proposal.request.category %></p>

   </div>
  </div>
</div>



