<div class="container">
  <div class="row">
    <div class='col-xs-12 col-md-6 col-md-offset-3 footer-container'>
      <div class="proposal-summary">
        <h1>Proposal Summary</h1>
        <p>Find the Proposal Details here:</p>
          <figure class="proposal-box">
            <% if !@proposal.user.operator_profile.images.first.nil? %>
              <%= link_to operator_profile_path(@proposal.user.operator_profile) do %>
                <%= cl_image_tag @proposal.user.operator_profile.images.first.image %>
              <% end %>
            <% else %>
              <%= link_to operator_profile_path(@proposal.user.operator_profile) do %>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
              <% end %>
            <% end %>
            <figcaption>
              <% if !@proposal.user.avatar.url.nil? %>
                <%= cl_image_tag @proposal.user.avatar.url(:standard), class:"profile" %>
              <% end %>
                <h2><%= @proposal.user.operator_profile.company_name %></h2>
                <p><b>Total Price: </b><%= humanized_money_with_symbol(@proposal.price) %></p>
                <p><b>Additional Info: </b><%= @proposal.content %></p>
                <p><%= link_to 'See Profile', operator_profile_path(@proposal.user.operator_profile) %></p>
              <% if current_user.pilot? && @proposal.pending? %>
                <p><%= link_to 'Cancel proposal', proposal_path(@proposal), method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to 'Edit proposal', edit_proposal_path(@proposal) %></p>
              <% end %>
              <% if !current_user.pilot? && @proposal.pending? %>
                <%= link_to 'Accept!', accept_proposal_path(@proposal), class: 'btn btn-success', method: :post, data: { confirm: 'Are you sure?' } %>
                <%= link_to 'Decline!', decline_proposal_path(@proposal), class: 'btn btn-danger', method: :post, data: { confirm: 'Are you sure?' } %>
              <% end %>

              <% if @proposal.accepted? %>
                <div class="accepted">
                  <p><b>This proposal has been accepted!</b></p>
                </div>
                <div>
                  <p>Pay your booking now</p> <%= link_to "Pay", new_proposal_payment_path(@proposal), class: 'btn btn-success' %>
                </div>
              <% elsif @proposal.rejected? %>
                <div class="declined">
                  <p class="red"><b>This proposal has been declined!</b></p>
                </div>
                <% elsif @proposal.paid? %>
                <div class="accepted">
                  <p><b>This proposal has been paid!</b></p>
                  <p><%= link_to 'Add review', new_proposal_review_path(@proposal) %></p>
                </div>
              <% end %>

              <% if !current_user.pilot? && @proposal.accepted? %>
                <p><%= link_to "Message user", conversations_path(sender_id: current_user.id, recipient_id: @proposal.user.id), method: 'post' %></p>
              <% end %>
              <% if !current_user.pilot? %>
                <p><a href="javascript:history.back()">Go Back</a></p>
              <% end %>
              <% if current_user.pilot? %>
                <p><%= link_to 'Back to all proposals', proposals_path %></p>
              <% end %>
            </figcaption>
          </figure>
      </div>
    </div>
  </div>
</div>




