<div class="container">

  <div class="row">
      <div class='col-xs-12 col-md-6 col-md-offset-3'>
      <h1>Proposal Summary</h1>
        <p>Find the Proposal Details here:</p>
      <figure class="proposal-box">
      <% if !@proposal.user.operator_profile.images.first.nil? %>
          <%= cl_image_tag @proposal.user.operator_profile.images.first.image %>
        <% else %>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
        <% end %>
      <figcaption>
      <% if !@proposal.user.avatar.url.nil? %>
        <%= cl_image_tag @proposal.user.avatar.url(:standard), class:"profile" %>
      <% end %>
          <h2><%= @proposal.user.operator_profile.company_name %></h2>
         <p><b>Total Price: </b><%= @proposal.price %> USD</p>
          <p><b>Additional Info: </b><%= @proposal.content %></p>

    <p><%= link_to 'See Profile', operator_profile_path(@proposal.user.operator_profile) %></p>

    <% if current_user.pilot? && @proposal.pending? %>
      <p><%= link_to 'Cancel proposal', proposal_path(@proposal), method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to 'Edit proposal', edit_proposal_path(@proposal) %></p>
    <% end %>

    <% if !current_user.pilot? && @proposal.pending? %>
      <%= link_to 'Accept!', accept_proposal_path(@proposal), class: 'btn btn-success', method: :post, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Decline!', decline_proposal_path(@proposal), class: 'btn btn-danger', method: :post, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <% if @proposal.accepted? %>
    <div class="accepted">
      <p><b>This proposal has been accepted!</b></p>
    </div>
    <% elsif @proposal.rejected? %>
    <div class="declined">
      <p class="red"><b>This proposal has been declined!</b></p>
    </div>
    <% end %>

    <% if !current_user.pilot? && @proposal.accepted? %>
      <p><%= link_to 'Add review', new_proposal_review_path(@proposal) %>
      <a href="#" class="message">Message</a></p>
    <% end %>
    <% if !current_user.pilot? %>
      <p><a href="javascript:history.back()">Go Back</a></p>
    <% end %>
    <% if current_user.pilot? %>
      <p><%= link_to 'Back to all proposals', proposals_path %></p>
    <% end %>
     </figcaption>
      </figure>
 </div>
  </div>
</div>

<div id="reviews">
  <% if @proposal.review.blank? %>
    <p>Be the first to leave a review for <%= @proposal.user.first_name %> </p>
  <% else %>
      <%= render 'reviews/show', review: @proposal.review %>
  <% end %>
</div>




